*{
    padding: 0;
    margin: 0;
}
#parent{
    background-color: hsl(148, 38%, 91%);
    max-width: 100%;
    padding-block: 5rem;
}
.container{
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    padding: 2rem;
    border-radius: 12px;
    max-width: 50%;
}
h1{
    font-family: karla;
    font-weight: 700;
    margin-bottom: 1.3rem;
    text-transform: capitalize;
}
.card input{
    margin-block: 7px;
}
/* .card .t-input{
    margin-top: 0.7rem;
    margin-bottom: 0.9rem;
    margin-block: 0.7rem;
    width: 100%;
} */
.f-input input{
    width: 100%;
    border:1px solid hsl(169, 82%, 27%);
    border-radius: 7px;
    padding-inline: 0rem;
    padding-block: 0.7rem;
    outline-color: hsl(186, 15%, 59%);
}