        *{
            padding: 0;
            margin: 0;
        }
        #container{
            background-color:  hsl(148, 38%, 91%);
            max-width: 1440px;
            height: auto;
        }
        .card{
            background-color:  hsl(0, 0%, 100%);
            padding: 2.5rem;
            /* margin: 25rem; */
            margin: auto;
            border-radius: 12px;
            width: 500px;
        }
        .card input{
            margin-block: 10px;
        }
        .f-input{
            font-family: karla;
            text-transform: capitalize;
            margin-bottom: 1rem;
        }
        .f-input input{
            width: 450px;
            border:1px solid hsla(120, 100%, 20%, 0.37);
            border-radius: 7px;
            padding: 0.9rem;
            /* border: none; */
            outline-color: hsl(186, 15%, 59%);
        }
        #mail input{
            padding-block: 2rem;
            padding-inline: 2rem;
            width: 420px;
        }
        h1{
            font-family: karla;
            font-weight: 600;
            padding-bottom: 1.5rem;
            text-transform: capitalize;
        }
        .name{
            display: flex;
            justify-content: space-between;
            gap: 0.5rem;
        }
        .name input{
            width: 210px;
        }
        #box{
            margin-bottom: 1rem;
            font-family: karla;
        }
        #box input{
            margin-right: 10px;
            border-color: #87a3a6;
        }
        button{
            font-family: karla;
            padding-inline: 200px;
            padding-block: 1rem;
            color: white;
            background-color:  hsl(169, 82%, 27%);
            border-radius: 7px;
            border: none;
        }